.noticia1{
	display: flex;
	border-radius:20px;
	background-color: rgb(241, 238, 238);
	margin-bottom: 35px;
}

.noticia1 .slime{
	height:150px;
	right:200px;
	border-radius:20px;
	
}

.textonot1{
	text-align:center;
	margin-top: 50px;
}


.noticia2{
	display: flex;
	border-radius:20px;
	background-color: rgb(241, 238, 238);
	margin-bottom: 35px;
}

.noticia2 .shin{
	height:150px;
	right:200px;
	border-radius:20px;
}

.textonot2{
	text-align:center;
	margin-top: 50px;
}


.noticia3{
	display: flex;
	border-radius:20px;
	background-color: rgb(241, 238, 238);
	margin-bottom: 35px;
}

.noticia3 .zoom{
	height:150px;
	right:200px;
	border-radius:20px;
}

.textonot3{
	text-align:center;
	margin-top: 50px;
}


.noticia4{
	display: flex;
	border-radius:20px;
	background-color: rgb(241, 238, 238);
	margin-bottom: 35px;
}

.noticia4 .juju{
	height:150px;
    width: 280px;
	right:200px;
	border-radius:20px;
}

.textonot4{
	text-align:center;
	margin-top: 50px;
}