
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Condensed:ital@1&display=swap');

body{
	background-color:#1C1C1C
}

header{
	position: relative;
    padding: 0 2rem;
}

.cBoxLeft {
		border: 2px ;
		float:left;
		height: 100%;
		width: 600px;
		border-radius:20px;
		background-color: 	#4F4F4F;
		margin-top: 35px;
		margin-left: 10%;
	}
	
.cBoxRigth {
		border: 2px ;
		float:right;
		height: 100%;
		width: 600px;
		border-radius:20px;
		background-color: 	#4F4F4F;
		margin-top: 35px;
		margin-right: 10%;
	}
	
	.menu{
		width: 100%;
		height: 60px;
		max-width: 1600px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
}



.Pagenot .menu{
    width: 100%;
		height: 60px;
		max-width: 1600px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
}

.logo {
	font-size: 1.5rem;
    font-weight: bold;
	margin-top: -30px;
	color: #483D8B;
}

.logo a:hover{
	color: #6A5ACD;
}

.logo a{
	text-decoration: none;
}


.easteregg{
	color: black;
}

.cabeçalho{
    display: flex;
    gap: 550px;
}


nav ul li{
    display: inline-block;
    margin-right: 30px;
	transition: transform 0.3s ease;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
	color:	#6A5ACD;
	transform: scale(1.2);
	transition: transform 0.3s ease; 
}

nav ul li:hover {
	transform: scale(1.2);
	transition: transform 0.3s ease; 
}

h2{
	height: 10px;
	color:black;
	margin-left: 20%;
}

.noticia1{
	display: flex;
	border-radius:20px;
	background-color: #808080;
	margin-bottom: 35px;
	margin-top: 55px;
	transition: transform 0.5s ease; 
}

.noticia1 a{
	text-decoration: none;
	color: #DCDCDC;
	display: flex;
}

.noticia1:hover{
	transform: scale(1.1); 
	transition: transform 0.3s ease; 
}

.noticia1 .slime{
	height:150px;
	right:200px;
	border-radius:20px;
	
}

.textonot1{
	text-align:center;
	margin-top: 50px;
	position: relative;
}


.noticia2{
	display: flex;
	border-radius:20px;
	background-color: #808080;
	margin-bottom: 35px;
	margin-top: 55px;
	transition: transform 0.5s ease; 
}

.noticia2 a{
	text-decoration: none;
	color: #DCDCDC;
	display: flex;
}

.noticia2:hover{
	transform: scale(1.1); 
	transition: transform 0.3s ease; 
}

.noticia2 .shin{
	height:150px;
	right:200px;
	border-radius:20px;
}

.textonot2{
	text-align:center;
	margin-top: 50px;
}


.noticia3{
	display: flex;
	border-radius:20px;
	background-color: #808080;
	margin-bottom: 35px;
	margin-top: 55px;
	transition: transform 0.5s ease; 
}

.noticia3 a{
	text-decoration: none;
	color: #DCDCDC;
	display: flex;
}

.noticia3:hover{
	transform: scale(1.1); 
	transition: transform 0.3s ease; 
}

.noticia3 .zoom{
	height:150px;
	right:200px;
	border-radius:20px;
}

.textonot3{
	text-align:center;
	margin-top: 50px;
	color: #DCDCDC;
}


.noticia4{
	display: flex;
	border-radius:20px;
	background-color: #808080;
	margin-bottom: 35px;
	margin-top: 55px;
	transition: transform 0.5s ease; 
}

.noticia4 a{
	text-decoration: none;
	color: #DCDCDC;
	display: flex;
}

.noticia4:hover{
	transform: scale(1.1); 
	transition: transform 0.3s ease; 
}

.noticia4 .juju{
	height:150px;
    width: 280px;
	right:200px;
	border-radius:20px;
}

.textonot4{
	text-align:center;
	margin-top: 50px;
}

.animes .zumbi{
    width:45%;
	height:400px;
	right:200px;
	border-radius:20px;
	display:flex;
    float: left;
	top: 30px;
	margin-left: 10px;
	margin-top: 20px;
	 transition: transform 0.5s ease;
}

.zumbi:hover{
	transform: scale(1.1); 
	transition: transform 0.3s ease; 
}

.animes .ragna{
    width:45%;
	height:400px;
	right:200px;
	border-radius:20px;
	display:flex;
    float: right;
	margin-right: 10px;
	margin-top: 20px;
	 transition: transform 0.5s ease;
}

.ragna:hover{
	transform: scale(1.1); 
	transition: transform 0.3s ease; 
}

.animes .shin{
    width:45%;
	height:400px;
	right:200px;
	border-radius:20px;
	display:flex;
    float: left;
	margin-left: 10px;
	margin-top: 20px;
	 transition: transform 0.5s ease;
}

.animes .shin:hover{
	transform: scale(1.1); 
	transition: transform 0.3s ease; 
}

.animes .youj{
    width:45%;
	height:400px;
	right:200px;
	border-radius:20px;
	display:flex;
    float: right;
	margin-right: 10px;
	margin-top: 20px;
	 transition: transform 0.5s ease;
}

.youj:hover{
	transform: scale(1.1); 
	transition: transform 0.3s ease; 
}

.bloco1 {
	border: 2px ;
	float:left;
	height: 650px;
	width: 600px;
	border-radius:20px;
	background-color: 	#4F4F4F;
	margin-top: 35px;
	margin-left:250px;
}

.infoani h1{
	text-align: center;
}

.infoani .kono{
	height:350px;
	width: 350px;
	border-radius:100px;
    margin-left:20%;
	margin-top: 5%;
	
}

.bloco2{
		border: 2px ;
		margin-left: 900px;	
		height: 300px;
		width: 800px;
		border-radius:20px;
		background-color: 	#4F4F4F;
		margin-top: 35px;
}

.info{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    -webkit-tap-highlight-color: transparent;
    color: inherit;
    font-size: inherit;
    line-height: 1.55;
	margin-left: 25px;
	color: #DCDCDC;
}

b{
	color: 	#778899;
}

.bloco2 .sinopse{
	font-family: 'Times New Roman', Times, serif;
	margin-left: 15px;
	color: #DCDCDC;
	
}

.page{
		border: 2px ;
		margin-left: 15%;
		height: 310%;
		width: 1300px;
		border-radius:20px;
		background-color: 	#4F4F4F;
		margin-top: 35px;
		color: #DCDCDC;
		
}

.page h1{
	margin-left: 0%;
	text-align: center;
}

.page p{
	font-family:Roboto Condensed,sans-serif ;
	font-size: 1.8em;
	margin-left: 15px;
}

.page .shinge{
	border-radius:20px;
	height: 690px;
	margin-left: 10px;
}

.video{
	margin-left: 10px;
	background-color: #4F4F4F;
}

.abanot{
	border: 2px ;
		float:left;
		height: 100%;
		width: 1110px;
		border-radius:20px;
		background-color: 	#4F4F4F;
		margin-top: 35px;
		margin-left: 25%;
}

.notaba{
	display: flex;
	border-radius:20px;
	background-color: #808080;
	margin-bottom: 35px;
	margin-top: 55px;
}

.notaba .slime{
	height:200px;
	right:200px;
	border-radius:20px;
}

.notaba a{
	text-decoration: none;
	color: #DCDCDC;
	display: flex;
}


.generos{
	color:white;
}

.ação{
		height: 300px;
		width: 100%;
		margin-top: 20px;
}

.echi{
		height: 300px;
		width: 100%;
}


.suspense{
		height: 300px;
		width: 100%;
		
}


.guerra{
		height: 300px;
		width: 100%;	
}

.imagenscat img{
	height:250px;
	right:200px;
	border-radius:20px;
	position:static;
	margin-top: -10px;
}

.post{
	margin-left: 30%;
	background-color: #4F4F4F;	
}

.imagens{
	border-radius:20px;
	height: 690px;
	margin-left:3%;
	width: 500px;
}

.ContatoPag{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: -100px;
}

.ContatoPag h1{
	font-size: 3rem;
	color: #fff;
	margin-bottom: 2rem;
	text-align: center;
	line-height: 1.2;
}

.form{
	width: 100%;
	max-width: 32rem;
	font-size: 1.125rem;
}

.form label, .form input, .form textarea, .form button{
	display: block;
	width: 100%;
}

.form label{
	color: #fff;
	line-height: 1;
	margin-bottom: 0,5rem;
}

.form textarea{
	font: inherit;
	padding: 0.8rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius:8px;
	transition: border-color, box-shadow 0.2s;
}

.form textarea{
	min-height: 13rem;
	resize: vertical;
}

.form input:hover,.form input:focus,.form textarea:hover,.form textarea:focus{
	outline: none;
	border-color: black;
	box-shadow: 0 0 0 3px #4F4F4F;
}

.form button{
	display: block;
	padding: 1rem;
	background: #6495ED;
	color: #fff;
	font: inherit;
	text-transform: uppercase;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.2s;
}

.form button:hover, .form button:focus{
	outline: none;
	background-color: #483D8B;
}